
$font-sans: 'Manrope', sans-serif;

$weight-extralight: 200;
$weight-light: 300; // Base weight
$weight-regular: 400;
$weight-medium: 500;

:root {
  --font-primary: #{$font-sans};
  --font-weight-base: #{$weight-light};

  --fw-extralight: #{$weight-extralight};
  --fw-light: #{$weight-light};
  --fw-regular: #{$weight-regular};
  --fw-medium: #{$weight-medium};

  // Mobile Font Sizes (Default)
  --fs-xs: 1rem;       // 16px
  --fs-sm: 1.125rem;   // 18px
  --fs-base: 1.25rem;  // 20px
  --fs-lg: 2rem;       // 32px
  --fs-xl: 2.375rem;   // 38px
  --fs-xxl: 3.25rem;   // 52px

  // Tablet Font Sizes (Media Query)
  @media (min-width: 48rem) {
    --fs-xs: 1rem;
    --fs-base: 1.25rem;  // 20px (Stays the same)
    --fs-lg: 2rem;       // 32px (Stays the same)
    --fs-xxl: 3.75rem;
  }

  // Desktop Font Sizes (Media Query)
  @media (min-width: 80rem) {
    --fs-xs: 1rem;
    --fs-base: 1.25rem;  // 20px (Stays the same)
    --fs-lg: 2rem;       // 32px (Stays the same)
    --fs-xxl: 5rem;
  }
}

// ==========================================
// UTILITY CLASSES
// ==========================================
body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-base);
  font-size: var(--fs-base); // Sets the 20px default
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05em;
}