@use '@styles/abstracts/mixins' as *;

.project-section {
  &__title {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-light);
    line-height: 3.8rem;
    letter-spacing: 0.05em;
    padding-inline: 1.125rem;
    padding-block: 5.3rem;
    width: min-content;

    @include mq(md) {
      padding-inline: 2.188rem;
      padding-block: 4.9rem;
    }

    @include mq(lg) {
      padding-inline: 2.75rem;
      padding-block: 6rem;
      line-height: 5.5rem;
    }
  }
}
