@use '../tokens' as *;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--color-bg);
  color: var(--color-text);


  &:has(dialog[open]) {
    overflow: hidden;
  }
}

body:has(.main-nav__list.is-open) {
  overflow: hidden;
}